.body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    padding-left: 20px;
    padding-right: 20px;
    overflow: hidden;
}

.slideshow-container {
    width: 100%;
    height: auto;
    margin: auto;
    background-color: rgba(29, 52, 51, 0.495);
}

.mySlides {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bottom-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 600px;
    height: 358px;
    margin: auto;
    transition: 1s;
    transform: translateX(-1);
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    -webkit-transform: translateX(-1);
    -moz-transform: translateX(-1);
    -ms-transform: translateX(-1);
    -o-transform: translateX(-1);
}

@media screen and (max-width: 640px) {
    .slide {
        width: 400px;
        height: 500px;
    }
}

.mem_1 {
    width: 600px;
    height: 343px;
    background-image: url(./assets/images/mem_1.jpg);
    background-position: center;
    background-size: cover;
    z-index: 100;
}

.mem_2 {
    width: 600px;
    height: 343px;
    background-image: url(./assets/images/mem_2.jpg);
    background-position: center;
    background-size: cover;
    z-index: 100;
}

.mem_3 {
    width: 600px;
    height: 343px;
    background-image: url(./assets/images/mem_3.jpg);
    background-position: center;
    background-size: cover;
    z-index: 100;
}

.mem_4 {
    width: 600px;
    height: 343px;
    background-image: url(./assets/images/mem_4.jpg);
    background-position: center;
    background-size: cover;
    z-index: 100;
}

@media screen and (max-width: 640px) {
    .mem_1 {
        width: 400px;
        height: 200px;
        background-image: url(./assets/images/mem_1.jpg);
        background-position: center;
        background-size: cover;
        z-index: 100;
    }
    .mem_2 {
        width: 400px;
        height: 200px;
        background-image: url(./assets/images/mem_2.jpg);
        background-position: center;
        background-size: cover;
        z-index: 100;
    }
    .mem_3 {
        width: 400px;
        height: 200px;
        background-image: url(./assets/images/mem_3.jpg);
        background-position: center;
        background-size: cover;
        z-index: 100;
    }
    .mem_4 {
        width: 400px;
        height: 200px;
        background-image: url(./assets/images/mem_4.jpg);
        background-position: center;
        background-size: cover;
        z-index: 100;
    }
}

.textend {
    display: block;
    overflow-y: visible;
    -webkit-animation-name: textend;
    -webkit-animation-duration: 3s;
    animation-name: textend;
    animation-duration: 3s;
}

.textend p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    /* or 133% */
    text-align: left;
    color: #0a0000;
}


/* Next & previous buttons */

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}


/* Position the "next button" to the right */

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}


/* On hover, add a black background color with a little bit see-through */

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


/* The dots/bullets/indicators */

.dots {
    position: relative;
    display: block;
    flex-direction: row;
    justify-content: center;
}

.dot,
.dot-empty {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dot:hover {
    background-color: #717171;
}

.active {
    background-color: blue;
}


/* Fading animation */

.slide {
    -webkit-animation-name: slide;
    -webkit-animation-duration: 1s;
    animation-name: slide;
    animation-duration: 1s;
}

@keyframes slide {
    from {
        margin-left: 100%;
        opacity: .4
    }
    to {
        margin-left: calc((100% - 600px)/2);
        opacity: 1
    }
}

@keyframes textend {
    from {
        opacity: .0
    }
    to {
        opacity: 1
    }
}

@media screen and (max-width: 640px) {
    .slide {
        -webkit-animation-name: slide;
        -webkit-animation-duration: 1s;
        animation-name: slide;
        animation-duration: 1s;
    }
    @keyframes slide {
        from {
            margin-left: 100%;
            opacity: .4
        }
        to {
            margin-left: calc((100% - 400px)/2);
            opacity: 1
        }
    }
}


/* On smaller screens, decrease text size */

@media only screen and (max-width: 300px) {
    .prev,
    .next,
    .text {
        font-size: 11px
    }
}

.go_to_top {
    position: fixed;
    right: 100px;
    bottom: 100px;
    background: #fff;
    width: 47px;
    height: 47px;
    border-radius: 25px;
    color: #9dcda4;
    font-size: 16px;
    line-height: 46px;
    text-align: center;
    z-index: 10;
    box-shadow: 0 1px 16px rgba(0, 0, 0, 0.06);
}

.svg-inline--fa {
    display: inline-block;
    font-size: inherit;
    height: 1em;
    overflow: visible;
    vertical-align: -.125em;
}